# .gitignore 는, 깃허브 목록에 올라가지 않았으면 하는 
# 파일 확장명을 작성하거나,
# 올리지 않고 싶은 파일 명을 작성하여 
# 파일이 올라가지 못하도록 작성하는 공간이다.
# 샾(#) 은 주석으로, 설명이나 관련 내용을 작성하는 공간이다.

# *(모두 선택) 을 .확장명 앞에 붙이면, 
# 이와 관련된 모든 파일이 깃에 올라가지 못하도록 방지할 수 있다.

*.mp4 # 모든 mp4(동영상) 파일이 깃허브에 올라가지 못하도록 방지해 준 것이다.

# 깃허브에 올라가지 않았으면 하는 폴더 명/
# ▲ 이렇게 작성해 주면, 해당 폴더 명을 가진 폴더와, 그 내부에 있는 모든 파일이 깃허브에 올라가지 않는다.