body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e9f0ef;
}
.헤더 {
  background-color: #f37a8c;
  padding: 20px;
  color: white;
  text-align: center;
}
.네비게이션 {
  background-color: #f37a8c;
  margin-top: -20px; /* 위 여백 간격 조정, - 를 사용하면 줄어든다.*/
  text-align: center;
}
.네비게이션 ul {
  list-style-type: none;
}
.네비게이션 ul li {
  display: inline;
  margin-right: 20px;
}
.네비게이션 ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.메인 {
  padding: 20px;
  display: flex;
  /*
    flex-wrap: wrap;
    justify-content: space-between;
    */
}
.제품사진 {
  border: 1px solid rgb(37, 12, 54);
  padding: 20px;

  /* 태그 아래로 공백이 필요할 때 작성*/
  margin-bottom: 20px;

  /* 태그 오른쪽으로 공백이 필요할 때 작성*/
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px grey;
}
.제품사진 img {
  width: 100%;
  height: auto;
}

/* 마우스 커서를 버튼 위에 올리기 전의 모습*/
.제품사진 button {
  background-color: #64c9eb;
  color: rgb(236, 236, 230);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  /*마우스 커서를 버튼 위에 올렸을 때, 커서 모양 변경되게 하기*/
  cursor: pointer;
  /* :hover 에 작성해도 정상적으로 동작한다.*/
}

/*마우스 커서를 버튼 위에 올린 후의 모습*/
.제품사진 button:hover {
  background-color: black;
  color: white;
}

.푸터 {
  background-color: #f37a8c;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}
